<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>BLIXT</name>

    <description>
        An example for phonegap build docs. 
    </description>

    <author href="http://sondresallaup.com" email="support@sondresallaup.com">
        Sondre Sallaup
    </author>

<gap:splash src="img/splash.png" gap:platform="android" gap:density="ldpi" />
<gap:splash src="img/splash.png" gap:platform="android" gap:density="mdpi" />
<gap:splash src="img/splash.png" gap:platform="android" gap:density="hdpi" />
<gap:splash src="img/splash.png" gap:platform="android" gap:density="xhdpi" />
<gap:splash src="img/splash.png" gap:platform="android" gap:density="xxhdpi" />

<gap:plugin name="org.apache.cordova.core.camera" />

</widget>
